.rec-slider-container {
  margin: 0 !important;
}
.carouselArrowButton {
  display: none;
}
.carouselDiv:hover .carouselArrowButton {
  display: block;
}
.carouselArrowIcons {
  font-size: 60px;
  color: snow;
}
