.rec-slider-container {
  margin: 0 !important;
}
.carouselArrowButton {
  display: none !important;
}
.carouselDiv:hover .carouselArrowButton {
  display: block !important;
}
.carouselArrowIcons {
  color: snow;
}
