.dydPIA {
    margin: 0 !important;
}
/* .vUlQj {
    display: none;
    background-color: #1976d2 !important;
    box-shadow: #0b355f 0px 0px 1px 3px !important;
} */
.rec-pagination {
    display: none !important;
}