#BurgerMenu {
  display: none;
}
#BurgerMenu:hover {
  color: #d33 !important;
}
.header {
  width: 100%;
  background-color: #003;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
