@media only screen and (max-width: 900px) {
  .groupeMembers_li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .groupeMembers_img_p {
    flex-direction: column;
  }
  .groupeMembers_img_p > img {
    width: 40% !important;
    align-self: center;
  }
  .foodText {
    flex-direction: column;
    gap: 50px;
  }
  .foodTextReverse {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
@media only screen and (max-width: 840px) {
  .ipiSectionTwo {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  #ipiSectionTwoTestimony,
  #ipiSectionTwoDiscoverSchool {
    width: 100% !important;
  }
  .carouselArrowIcons {
    font-size: 40px !important;
  }
}
@media only screen and (max-width: 650px) {
  .ipiSectionOneNewsDiv {
    gap: 50px !important;
  }
  .ipiSectionOneNewsDivs {
    width: 100% !important;
  }
  .ipiSectionOneNewsDivs img {
    max-width: unset !important;
  }
  .footerPanda {
    left: 10px !important;
  }
  .airplaneLoading {
    width: 100%;
  }
  .foodDiv {
    width: 100% !important;
  }
  .foodImg {
    width: 100% !important;
  }
}
@media only screen and (max-width: 540px) {
  #Navigation {
    display: none !important;
  }
  #BurgerMenu {
    display: block !important;
    width: 100%;
  }
  .footer_down {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 20px !important;
  }
  .footer_up {
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .footer_up > div {
    padding: 20px;
  }
  .boockmarkIcon {
    right: 20px !important;
  }
  .footerBackgroundImg {
    background-position: left !important;
  }
  .modalBoxClass {
    width: 80% !important;
  }
  .pandaIpi {
    width: 50%;
  }
  .rec-item-wrapper {
    height: 180px !important;
  }
  .sectionThreeContainer {
    background-image: url("/src/Images/roadtrip_for_mobile.png") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
