@media only screen and (max-width: 840px) {
  .ipiSectionTwo {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  #ipiSectionTwoTestimony,
  #ipiSectionTwoDiscoverSchool {
    width: 100% !important;
  }
}
@media only screen and (max-width: 650px) {
  .ipiSectionOneNewsDiv {
    gap: 50px !important;
  }
  .ipiSectionOneNewsDivs {
    width: 100% !important;
  }
  .ipiSectionOneNewsDivs img {
    max-width: unset !important;
  }
  .footerPanda {
    left: 10px !important;
  }
}
@media only screen and (max-width: 540px) {
  #Navigation {
    display: none !important;
  }
  #BurgerMenu {
    display: block !important;
  }
  .footer_down {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    gap: 30px;
    margin-top: 20px !important;
  }
  .footer_up {
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .footer_up > div {
    padding: 20px;
  }
  .boockmarkIcon {
    right: 20px !important;
  }
  .footerBackgroundImg {
    background-position: left !important;
  }
}
